.about-page {
  margin-top: 10vh; /* Adjust the value to increase or decrease the gap */
  margin-left: 5%;
  margin-right: 5%;
}

.experience-page {
  margin-top: 20vh; /* Adjust the value to increase or decrease the gap */
  margin-left: 5%;
  margin-right: 5%;
}
