.page {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.about-page {
  margin-top: 10vh; /* Adjust the value to increase or decrease the gap */
  /* Assuming you want to maintain the 5% margin from each side */
}

.experience-page,
.projects-page,
.contact-me-page {
  margin-top: 5vh; /* Adjust the value to increase or decrease the gap */
  /* Assuming you want to maintain the 5% margin from each side */
}

/* Media Query for Ultrawide Screens */
@media (min-width: 1920px) {
  .about-page,
  .experience-page,
  .projects-page,
  .contact-me-page {
    width: 70%; /* Adjust the width to a suitable percentage or fixed width */
  }
}
